@import "./variableColor.scss";
h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.6em;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
  padding-top: 10px;
}

#spanTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    span {
      opacity: 0;
    }
    .spanLetterG {
      animation: letters 2s ease 300ms forwards;
      text-shadow: 0 0 20px grey;
    }
    .spanLetterR {
      animation: letters 2s ease 500ms forwards;
      text-shadow: 0 0 20px grey;
    }
    .spanLetterO {
      animation: letters 2s ease 100ms forwards;
      text-shadow: 0 0 20px white;
    }
    .spanLetterU {
      animation: letters 2s ease 150ms forwards;
      text-shadow: 0 0 20px grey;
    }
    .spanLetterP {
      animation: letters 2s ease 200ms forwards;
      text-shadow: 0 0 20px white;
    }
    .spanLetterOO {
      animation: letters 2s ease 250ms forwards;
      text-shadow: 0 0 20px grey;
    }
    .spanLetterM {
      animation: letters 2s ease 300ms forwards;
      text-shadow: 0 0 20px grey;
    }
    .spanLetterA {
      animation: letters 2s ease 120ms forwards;
      text-shadow: 0 0 20px white;
    }
    .spanLetterN {
      animation: letters 2s ease 100ms forwards;
      text-shadow: 0 0 20px white;
    }
    .spanLetterI {
      animation: letters 2s ease 110ms forwards;
      text-shadow: 0 0 20px grey;
    }
    .spanLetterAA {
      animation: letters 2s ease 100ms forwards;
      text-shadow: 0 0 20px white;
    }
  }
}
.nav-link {
  display: flex;
  flex-direction: row;
}
.inputsearch {
  background: $lineargradient;
  color: white;
  border-radius: 20px;
  border-color: darkgray;
  text-align: center;
  &:focus {
    color: white;
    border-color: darkgray;
  }
}
.form-control:focus {
  box-shadow: $shadowBoxHover;
}
.nameSearch {
  text-decoration: none;
  color: white;
}
a:link {
  text-decoration: none;
}
.imgSearch {
  object-fit: cover;
  height: 45px;
  width: 45px;
  margin: 10px;
  border-radius: 100%;
}
.results {
  position: absolute;
}
.result {
  width: 221px;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  background: $lineargradient;
  margin-top: 5px;
  box-shadow: $shadowBox;
  &:hover {
    background-color: #90b3d6;
    box-shadow: $shadowBoxHover;
  }
}
.navigation {
  min-height: 64px;
}
nav ul li:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.userPageLink {
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
  border-radius: 100%;
}

.signup {
  box-sizing: content-box;
  background: $conicGradient;
}
.homeLinkBig {
  width: 41px;
  margin-right: 10px;
  transition: transform 2s;
}
.homeLinkBig:hover {
  transform: rotate3d(1, 2.5, 1.5, 360deg);
}

.setting {
  height: 32px;
}
.logout {
  height: 30px;
  width: 80px;
}
.navbar {
  background: $lineargradient;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(239, 229, 229, 0.61);
  transition: width 1s, height 1s, background-color 1s, transform 1s;
  &:hover {
    box-shadow: $shadowBoxHover;
  }
}
@keyframes letters {
  0% {
    opacity: 0;
    color: black;
  }
  20% {
    opacity: 1;
    color: grey;
  }
  40% {
    opacity: 0;
    color: white;
  }
  60% {
    opacity: 1;
    color: grey;
  }
  80% {
    opacity: 0;
    color: black;
  }
  100% {
    opacity: 1;
    color: white;
  }
}
body {
  margin: 0;
  background-attachment: fixed;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #374a6b;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  .cross {
    display: none;
    height: 30px;
    position: absolute;
  }
}

@media only screen and (max-width: 1000px) {
  .userPageLink {
    margin: 0;
  }
  .loupe {
    height: 30px;
    margin-top: 8px;
    margin-left: 10px;
    &:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
  }
  .inputsearch {
    display: none;
  }
  .cross {
    height: 35px;
    margin-left: 20px;
    display: none;
  }
  .flex_input {
    display: flex;
  }
}

@media only screen and (max-width: 570px) {
  .navbar {
    height: 120px;
  }
  .homeLinkBig {
    margin-bottom: 15px;
  }
  li {
    margin-top: -15px;
  }
}