@import "variableColor.scss";
.text-noPost {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  color: #091f43;
}
.noPost {
  width: 500px;
  margin: 100px auto auto;
}
.infopost {
  position: relative;
}
.text {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: #091f43;
}
.imagePost {
  object-fit: cover;
  max-height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.svg-react {
  &:hover {
    fill: #c21e36;
    animation: heart 0.5s cubic-bezier(0.06, 1.16, 0.83, 0.67) forwards;
  }
}

.react {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.like {
  margin: auto;
  cursor: pointer;
}

.comment {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  &__img {
    height: 40px;
  }
}
.heart {
  animation: heart 0.3s cubic-bezier(0.06, 1.16, 0.83, 0.67);
}
@keyframes heart {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}

.ppPost {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  border-radius: 100%;
  object-fit: cover;
}
.publier {
  width: 100px;
}
.shadow_box {
  box-shadow: $shadowBox;
  &:hover {
    box-shadow: $shadowBoxHover;
    transform: scale(1.01);
  }
}

.home {
  width: 50%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

.form {
  width: 90%;
}

#text {
  border-radius: 20px;
  background-color: #f0f2f5;
  color: #091f43;
}

.nbr {
  font-weight: 300;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.posts:hover {
  .deletePost {
    display: inline;
  }
}
.deletePost {
  height: 20px;
  position: absolute;
  right: 20px;
  display: none;
  cursor: pointer;
}

.delete {
  height: 15px;
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

.commentText {
  margin-left: 10px;
  margin-right: 10px;
  color: #091f43;
}
.commentAuthor {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  color: #091f43;
}
.comment {
  margin: auto;
}
.nomUser {
  font-weight: bold;
  font-size: 19px;
  color: #091f43;
}
.pp {
  object-fit: cover;
  margin-right: 18px;
  height: 55px;
  width: 55px;
}

.pp2 {
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.comments {
  display: flex;
}

.disp {
  display: none;
}

.time {
  font-size: 9px !important;
}

.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer;
}

.feed-image img {
  width: 100%;
  height: auto;
}

#comment {
  border-radius: 20px;
  background-color: #f0f2f5;
}

.commentaire {
  background-color: #f0f2f5;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  &:hover {
    .delete {
      display: block;
    }
  }
}
@media (max-width: 1000px) {
  .home {
    width: 83.5%;
  }
}
@media (max-width: 764px) {
  .home {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .home {
    width: 92%;
  }
  .posts {
    width: 92%;
  }
  .newPost {
    width: 100%;
  }
}
