/* Import des variables */
@import "variableColor.scss";

/* Styles pour le texte indiquant l'absence de posts */
.text-noPost {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  color: #091f43;
}

/* Conteneur des posts */
.noPost {
  width: 500px;
  margin: 100px auto auto;
}

/* Styles spécifiques aux posts */
.infopost {
  position: relative;
}

/* Styles pour le texte */
.text {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: #091f43;
}

/* Styles pour les images des posts */
.imagePost {
  object-fit: cover;
  max-height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Styles pour les réactions */
.svg-react {
  &:hover {
    fill: #c21e36;
    animation: heart 0.5s cubic-bezier(0.06, 1.16, 0.83, 0.67) forwards;
  }
}

.react {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.like {
  margin: auto;
  cursor: pointer;
}

.comment {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  &__img {
    height: 40px;
  }
}

.heart {
  animation: heart 0.3s cubic-bezier(0.06, 1.16, 0.83, 0.67);
}

@keyframes heart {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}

/* Styles pour les photos de profil des posts */
.ppPost {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  border-radius: 100%;
  object-fit: cover;
}

/* Styles pour les boutons "Publier" */
.publier {
  width: 100px;
}

/* Styles pour la boîte d'ombre */
.shadow_box {
  box-shadow: $shadowBox;
  &:hover {
    box-shadow: $shadowBoxHover;
    transform: scale(1.01);
  }
}

/* Styles pour la section "Home" */
.home {
  width: 50%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

/* Styles pour le formulaire */
.form {
  width: 90%;
}

/* Styles pour les éléments textuels */
#text {
  border-radius: 20px;
  background-color: #f0f2f5;
  color: #091f43;
}

/* Styles pour les nombres */
.nbr {
  font-weight: 300;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Styles pour les posts lors du survol */
.posts:hover {
  .deletePost, .deletePostMessage {
    display: inline;
  }
}

/* Styles pour le texte en rouge */
.red {
  color: red;
}

/* Styles pour la croix de suppression des posts */
.deletePost {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
}

/* Styles pour le message de suppression des posts */
.deletePostMessage {
  position: absolute;
  right: 10px;
  top: 50%;
}

/* Styles pour le texte des commentaires */
.commentText {
  margin-left: 10px;
  margin-right: 10px;
  color: #091f43;
}

/* Styles pour l'auteur des commentaires */
.commentAuthor {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  color: #091f43;
}

/* Styles pour les commentaires */
.comment {
  margin: auto;
}

/* Styles pour le nom de l'utilisateur */
.nomUser {
  font-weight: bold;
  font-size: 19px;
  color: #091f43;
}

/* Styles pour les photos de profil */
.pp {
  object-fit: cover;
  margin-right: 18px;
  height: 55px;
  width: 55px;
}

.pp2 {
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

/* Styles pour les commentaires */
.comments {
  display: flex;
}

/* Styles pour les éléments à masquer */
.disp {
  display: none;
}

/* Styles pour la taille du texte de l'heure */
.time {
  font-size: 9px !important;
}

/* Styles pour les icônes des réseaux sociaux */
.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer;
}

/* Styles pour les images dans le feed */
.feed-image img {
  width: 100%;
  height: auto;
}

/* Styles pour chaque commentaire */
.commentaire {
  background-color: #f0f2f5;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

/* Media queries */
@media (max-width: 1000px) {
  .home {
    width: 83.5%;
  }
}

@media (max-width: 764px) {
  .home {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .home {
    width: 92%;
  }
  .posts {
    width: 92%;
  }
  .newPost {
    width: 100%;
  }
}

