$colorError: rgba(193, 78, 78, 1);
$colorTxt: rgba(204, 204, 204, 1);
$shadowGrey: rgba(16, 12, 16, 1);
$shadowBox: 0 0 20px 0 rgba(16, 12, 16, 1);
$shadowBoxHover: 0 0 20px 1px rgba(234, 184, 96, 1);
