$colorError: rgba(193, 78, 78, 1);
$colorTxt: rgba(204, 204, 204, 1);
$shadowGrey: rgba(16, 12, 16, 1);
$shadowBox: 0 0 20px 0 rgba(16, 12, 16, 1);
$shadowBoxHover: 0 0 20px 1px rgba(234, 184, 96, 1);
$lineargradient: linear-gradient(217deg, rgba(20, 20, 20, 1), rgba(171, 164, 164, 1) 70.71%), linear-gradient(127deg, rgba(77, 75, 75, 1), rgba(94, 91, 91, 1) 70.71%), linear-gradient(336deg, rgba(59, 52, 52, 1), rgba(84, 77, 77, 1) 70.71%);
$conicGradient: conic-gradient(at -30% 50%, rgba(59, 52, 52, 0.85) 18%, rgba(77, 75, 75, 0.5) 30%, rgba(20, 20, 20, 0.85) 40%);

